* {
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
}

body {
  background-color: #23252C;
  color: white;
}

.app--div {
  width: 317px;
  height: 820px;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #1A1B21;
}

.info--div {
  width: 317px;
  height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info--image {
  width: 317px;
  height: 317px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3% 3% 0% 0%;
}

.info--div > h1 {
  width: 178.06px;
  height: 25.81px;
  margin-left: 70px;
  margin-right: 70px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.info--div > h3 {
  width: 178.06px;
  height: 14.19px;
  margin-left: 65px;
  margin-right: 70px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;

  color: #F3BF99;
}

.info--div > button {
  margin-top: 10px;
}

.info--email_button {
  border: none;
  display: inline-flex;
  overflow: hidden;
  font-size: 0.9rem;
  padding: 10px 12px;
  margin-left: 35px;
  margin-right: 7.5px;
  
  height: 34px;
  width: 115px;
  border-radius: 6px;
  background-color: white;
}

.info--email_button:hover {
  background-color: #CEEEEE;
}

.info--email_logo {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-left: 10px;
}

.info--linkedin_button {
  border: none;
  display:inline-flex;
  overflow: hidden;
  font-size: 0.9rem;
  padding: 10px 12px;
  margin-left: 7.5px;
  margin-right: 35px;
 
  height: 34px;
  width: 115px;
  background-color: #5093E2;
  border-radius: 6px;
  color: white;
}

.info--linkedin_logo {
  width: 16px;
  height: 16px;
  margin-right:10px;
}

.info--linkedin_button:hover {
  background-color: #4282D1;;
}

.about--div {
  width: 247px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.about--div > h1 {
  font-size: 20px;
}

.about--div > p {
  font-size: 13px;
  font-weight: 100;
  margin-top: -13px;
}

.interests--div {
  width: 247px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  margin-bottom: -20px;
}

.interests--title {
  font-size: 20px;
}

.interests--info {
  font-size: 13px;
  margin-top: -13px;
}

.footer--div {
  background-color: #161619;
  border-radius: 0px 0px 6px 6px;
  height: 70px;
  width: 317px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer--div > img {
  height: 25px;
  width: 25px;
  margin: 13px;
}
