* {
  box-sizing: border-box;
}

body {
  background-color: #23252C;
  color: white;
}

.app--div {
  width: 317px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #1A1B21;
  border-radius: 3%;
  /* width: 50%; */
}

.info--div {
  width: 317px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info--image {
  width: 317px;
  height: 317px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3% 3% 0% 0%;
}

.info--div > h1 {
  width: 178.06px;
  height: 25.81px;
  margin-left: 70px;
  margin-right: 70px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.info--div > h3 {
  width: 178.06px;
  height: 14.19px;
  margin-left: 65px;
  margin-right: 70px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;

  color: #F3BF99;
}

.info--email_button {
  border: none;
  display: inline-flex;
  overflow: hidden;
  font-size: 0.9rem;
  padding: 10px 12px;
  margin-left: 35px;
  margin-right: 7.5px;
  
  height: 34px;
  width: 115px;
  border-radius: 6px;
  background-color: white;
}

.info--email_button:hover {
  background-color: #CEEEEE;
}

.info--email_logo {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-left: 10px;
}

.info--linkedin_button {
  border: none;
  display:inline-flex;
  overflow: hidden;
  font-size: 0.9rem;
  padding: 10px 12px;
  margin-left: 7.5px;
  margin-right: 35px;
 
  height: 34px;
  width: 115px;
  background-color: #5093E2;
  border-radius: 6px;
  color: white;
}

.info--linkedin_logo {
  width: 16px;
  height: 16px;
  margin-right:10px;
}

.info--linkedin_button:hover {
  background-color: #4282D1;;
}

.about--div {
  width: 247px;
  height: 201px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
